body {
    margin:0;
    background-color: #101820
}
.loginthings {
    display:flex;
    flex-direction:column;
    text-align:center;
    max-width:60vh;
    font-size:x-large;
    color: #FEE715;

    box-shadow:
    0 0 0 2em #FEE715;
  margin: 4em;
  padding: 1em;
}

.loginthings input {
    display:flex;
    size:100vh;
}

.allloginthings {
    display:flex;
    justify-content:center;
}

.LoginButton {
    color:#FEE715;
}